#nav{
    font-size: 3rem;
    text-align: center;
    color: plum;
}
img:hover{
 box-shadow: 0 8px 16px plum;
}
h3{
    text-align: center;
    color: rgb(255, 122, 255);
    font-size: 2rem;
}
#h1{
    text-align: center;
}
*{
    background-color: black;
}